<title>Топ 30 отвратных фотографий поп людей</title>
<meta property="og:image" content="https://pp.vk.me/c837630/v837630374/1ee8/TByjLn6rUlE.jpg"/>
<script language="JavaScript" type="text/javascript">
<!-- 
location="http://sortto.ru/?p=4709" 
//--> 
</script>